{% extends "base.html" %} 

{% block content %}

    <section class="mb-6">
        <h2 class="text-xl mb-2">About</h2>
        <p>The dataset provides telehealth usage trends for people with Medicare from January 1, 2020 to March 31, 2023.</p>
    </section>

    <section>
        <h2 class="text-xl mb-2">Columns of Dataset</h2>
        <ul class="list-disc pl-5">
            <li>Year</li>
            <li>Quarter</li>
            <li>Bene_Geo_Desc</li>
            <li>Bene_Mdcd_Mdcr_Enrl_Stus</li>
            <li>Bene_Race_Desc</li>
            <li>Bene_Sex_Desc</li>
            <li>Bene_Age_Desc</li>
            <li>Bene_RUCA_Desc</li>
            <li>Total_Bene_TH_Elig</li>
            <li>Total_PartB_Enrl</li>
            <li>Total_Bene_Telehealth</li>
            <li>Pct_Telehealth</li>



        </ul>
    </section>



{% endblock %}

   
   
   
