{% extends "base.html" %} 

{% block content %}

    <section>
        <h2 class="text-xl mb-2"> Dataset preview using a TABLE in HTML</h2>
        <table class="table-auto">
            <thead>
                <tr>
                    <th class="px-4 py-2">Year</th>
                    <th class="px-4 py-2">Quarter</th>
                    <th class="px-4 py-2">Bene_Geo_Desc</th>
                    <th class="px-4 py-2">Bene_Mdcd_Mdcr_Enrl_Stus</th>
                    <th class="px-4 py-2">Bene_Race_Desc</th>
                    <th class="px-4 py-2">Bene_Sex_Desc</th>
                    <th class="px-4 py-2">Bene_Age_Desc</th>
                    <th class="px-4 py-2">Bene_RUCA_Desc</th>
                    <th class="px-4 py-2">Total_Bene_TH_Elig</th>
                    <th class="px-4 py-2">Total_PartB_Enrl</th>
                    <th class="px-4 py-2">Total_Bene_Telehealth</th>
                    <th class="px-4 py-2">Pct_Telehealth</th>
                </tr>
            </thead>
            <tbody>
                {% for data in data.values %}
                <tr>
                    <td class="border px-4 py-2">{{ data[0] }}</td>
                    <td class="border px-4 py-2">{{ data[1] }}</td>
                    <td class="border px-4 py-2">{{ data[2] }}</td>
                    <td class="border px-4 py-2">{{ data[3] }}</td>
                    <td class="border px-4 py-2">{{ data[4] }}</td>
                    <td class="border px-4 py-2">{{ data[5] }}</td>
                    <td class="border px-4 py-2">{{ data[6] }}</td>
                    <td class="border px-4 py-2">{{ data[7] }}</td>
                    <td class="border px-4 py-2">{{ data[8] }}</td>
                    <td class="border px-4 py-2">{{ data[9] }}</td>
                    <td class="border px-4 py-2">{{ data[10] }}</td>
                    <td class="border px-4 py-2">{{ data[11] }}</td>
                   
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

{% endblock %}